<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>detalhes</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="detalhes">

            <section class="detalhes">
                <p class="detalheNome">
                    <%= roupaDetalhes.nome_roupa %>
                </p>
                <div id="imagem">
                    <img src="<%= roupaDetalhes.img %> " alt="<%= roupaDetalhes.nome_roupa %> imagem">
                </div>
                <p class="detalheNome" >R$
                    <%= roupaDetalhes.preço %>,00 
                </p>
                <p class="detalheTamanho" >Tamanos:
                    <%= roupaDetalhes.tamanho %> 
                </p>
                <div id="button_">
                <a  href="<%= roupaDetalhes.link %> " target="_blank">
                    <button id="buttonTrans" value="0" class="shiny-button"><strong>Comprar</strong>
                    
                </a>
                </div>
                

            </section>
            



        </main>






        <%- include('./partials/footer.ejs') %>
</body>

</html>